$orangePrimary: #FF5722;
$orangeSecondary: #FF7F22;
$font: 'Montserrat', sans-serif;
$blue: #7CDAF9;
$lowBlue: #22B3E3;
$blueGradient: linear-gradient(90deg, #22B3E3 0%, #7CDAF9 52.6%, #22B3E3 100%);
$boxShadowBlue: 0 0 1px #22b3e3, 0 0 1px #7cdaf9, 0 8px 30px #22b3e370;